<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Edit Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.css">
</head>
<body>
    <div layout:fragment="content1">
        <form method="post" th:action="@{/admin/save(page=${page}, search=${search})}">
            <div class="card">
                <div class="card-header">
                    <h3>Edit Patient</h3>
                </div>
                <div class="card-body">
                    <label class="form-label">Id :</label>
                    <label th:text="${patient.id}"></label>
                    <input type="hidden" name="id" th:value="${patient.id}" />
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${patient.name}">
                        <span class="text-danger" th:errors="${patient.name}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="dateNaissance" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" th:value="${patient.dateNaissance}">
                        <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="malade" class="form-label">Malade </label>
                        <input type="checkbox" class="form-check-input" id="malade" name="malade" th:checked="${patient.malade}">
                        <span class="text-danger" th:errors="${patient.malade}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="score" class="form-label">Score</label>
                        <input type="text" class="form-control" id="score" name="score" th:value="${patient.score}">
                        <span class="text-danger" th:errors="${patient.score}"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
    </form>
    </div>
</body>
</html>