<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.css">
</head>
<body>
    <div layout:fragment="content1">
<div>
    <div class="card">
        <div class="card-header">
            <h3>Patients</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/user/index}" method="get">
                <div class="input-group mb-3">
                    <input type="text" th:value="${name}" class="form-control" placeholder="Search" name="search">
                    <button class="btn btn-outline-secondary" type="submit">Search <i class="bi bi-search"></i> </button>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Malade</th>
                    <th>Score</th>
                </tr>
                <tr th:each="p:${patients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.dateNaissance}"></td>
                    <td th:text="${p.malade}"></td>
                    <td th:text="${p.score}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a th:href="@{/admin/edit(id=${p.id},search=${name},page=${currentPage})}" class="btn btn-primary">Edit</a>
                        <a onclick="return confirm('Are you sure ?')" th:href="@{/delete(id=${p.id},search=${name},page=${currentPage},size=${#lists.size(patients)})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </thead>
            </table>
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="page,status:${pages}">
                    <a class="nav-link ms-2"
                       th:href=" @{/user/index(page=${status.index},search=${name})}"
                       th:classappend="${status.index==currentPage} ? 'active' : ''"
                       th:text="${status.index} +1"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
</body>
</html>